.callout{
//    background-image: url("/images/Home-Image.png");
    width: auto;
}

.callout{
  .head-text-mobile {
    font-size: 15px;
    position: absolute;
    top: 40%;
    left: 20%;
    color: #FFFFFF;
  }
  .head-text-tablet {
    font-size: 30px;
    position: absolute;
    top: 55%;
    left: 15%;
    color: #FFFFFF;
  }
  .head-text-desktop {
    font-size: 44px;
    position: absolute;
    line-height: 112px;
    font: 'Open Sans',Helvetica;
//    top: 50%;
    padding-top: 240px;
    left: 10%;
    color: #FFFFFF;
  }
}


// #about{
//   background-image: url("/images/pixelfall_website_banner_2.0.png");
//   height: 100%;
// }



#portfolio{
  width: auto;
//  background-image: url("/images/team_section_background.png");
//  height:500px;
//  h1{
//    text-align: center;
//    padding-top: 200px;
//  }
  .team-text-desktop {
    font-size: 35px;
    position: absolute;
    line-height: 60px;
    font: 'Open Sans',Helvetica;
//    top: 270%;
    padding-top: 280px;
    left: 8%;
    color: #000000;
  }
}
