// Flat UI Colors variables
@turquoise: #1abc9c;
@green_sea: #16a085;
@emerald: #2ecc71;
@nephritis: #27ae60;
@peter_river: #3498db;
@belize_hole: #2980b9;
@amethyst: #9b59b6;
@wisteria: #8e44ad;
@wet_asphalt: #34495e;
@midnight_blue: #2c3e50;
@sun_flower: #f1c40f;
@orange: #f39c12;
@carrot: #e67e22;
@pumpkin: #d35400;
@alizarin: #e74c3c;
@pomegranate: #c0392b;
@clouds: #ecf0f1;
@silver: #bdc3c7;
@concrete: #95a5a6;
@asbestos: #7f8c8d;




// bower:less
@import 'bootstrap/less/bootstrap';
// endbower

@import url(http://fonts.googleapis.com/css?family=Pacifico);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  // padding-top: 100px;
  padding-bottom: 20px;
  // font-family: 'Pacifico', cursive;
  // background-color: #eae0d0;
  color: #46b1ac
}


//
h1,h2,h3{
  font-family: 'Pacifico', cursive;
  font-weight: 200;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


body {
  padding-bottom: 20px;
  padding-top: 20px;
}
.header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  border-bottom: 1px solid #E5E5E5;
}
.header h3 {
  line-height: 40px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 19px;
}
.footer {
  border-top: 1px solid #E5E5E5;
  color: #777777;
  padding-top: 19px;
}
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
.jumbotron {
  border-bottom: 1px solid #E5E5E5;
  text-align: center;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0 none;
  }
}

.logo{
  line-height: 40px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 19px;
  width: 150px;
  height: 50px;
}

.header--fixed {
  // position: fixed;
  // z-index: 10;
  // right: 0;
  // left: 0;
  // top: 0;
  // background-color: @clouds;
}

// #scene {
//   opacity: 0.6;
// }



// Snake game
// #canvas-demo {
//     background-color: #FFFFFF;
//     position: relative;
//     left: 0px;
//     top: 0px;
//     z-index: 1;
// }
//
// #points
// {
//     position: relative;
//     left: 20px;
//     top: 20px;
//     z-index: 10;
//     font-size: 25px;
//     width: 50px;
//     text-align: right;
//     border: 1px solid #999999;
//     padding-left: 10px;
//     padding-right: 10px;
// }
//
// #info
// {
//     position: relative;
//     left: 530px;
//     top: 20px;
//     z-index: 10;
//     font-size: 20px;
//     text-align: center;
//     width: 250px;
// }
