body{
	font-family: "Open Sans Condensed",Helvetica,Arial,Sans-serif;
	font-size: 14px;
}

h2, .h2 {
    font-size: 25px;
}

  /*****************************/
 /* Form Control Icon Styling */
/*****************************/
.input-group-addon {
	padding: 6px 12px;
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	color: #D91E18;
	text-align: center;
	background-color: #ecf0f1;
	border: 1px solid #95a5a6;
	border-radius: 4px;
}
  /**************************/
 /* Custom Navbar settings */
/**************************/
.navbar .nav > li > a {
	font:300 25px/40px "Open Sans Condensed",Helvetica,Arial,Sans-serif;
}
.navbar{
	opacity: 0.95;
	background-color: #ffffff;
	text-transform: uppercase;
}

.navbar .nav > li{
	background-color: transparent;
	border-top: 11px solid transparent;	
	color: #333333;
	opacity: 0.90;
	text-decoration: none;
	transition: opacity 0.15s linear 0s;
}

.navbar .nav > li.active, .navbar .nav > li.hover, .navbar .nav > li.focus{
	background-color: transparent;
	border-top: 11px solid #D91E18;
	color: #333333;
	opacity: 0.90;
	text-decoration: none;
	transition: opacity 0.15s linear 0s;
}

.navbar .nav > li > a{
	background-color: transparent;
	border-top: 0px solid transparent;	
	color: #D91E18;
	float: none;
	padding: 10px 15px;
	text-decoration: none;
	text-shadow:0 1px 0 #FFFFFF;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover{
	background-color: transparent;
	border-top: 11px solid transparent;
	color: #333333;
	opacity: 0.90;
	text-decoration: none;
	transition: opacity 0.15s linear 0s;
}

.navbar-default {
	border-color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
	color: #D91E18;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #777777;
	background-color: transparent;
	
}

.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
	color: #D91E18;
	text-decoration: none;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #D91E18;
	background-color: #ffffff;
	opacity: 0.90;
}

.navbar-default {
	background-color: #ffffff;
	opacity: 0.90;
	border-color: #e7e7e7;
}

  /*********************/
 /* Custom Mobile Nav */
/*********************/
.navbar-header{
	margin-right: -15px;
	margin-left: -15px;
	height: 0px;
}

.navbar-toggle {
position: relative;
float: right;
padding: 9px 10px;
margin-top: 20px;
margin-right: 15px;
margin-bottom: 8px;
background-color: transparent;
background-image: none;
border: 1px solid transparent;
border-radius: 6px;
}

  /*******************/
 /* Responsive text */
/*******************/
.head-text {
	font:300 25px/40px "Open Sans Condensed", Helvetica, Arial, Sans-serif;
	position: absolute;
	color: #FFFFFF;
}

.team-text {
	font:300 25px/40px "Open Sans Condensed", Helvetica, Arial, Sans-serif;
	position: absolute;
	color: #FFFFFF;
}
.contact-header {
	font-size: 40px;
	margin-top: 5%;
	margin-bottom: 3%;
}
.address{
	font-size: 20px;
}
@media (max-width: 379px){
	.head-text {
		font-size: 140%;
		margin-top: 20%;
		line-height: 30px;
	}
	.team-text {
		font-size: 90%;
		margin-top: 25%;
		line-height: 20px;
	}
	.about-redirect{
		margin-top:13%;
	}

	.brand-logo {
		max-width: 40%;
		margin-top: -80px;
	}
	.navbar-brand {
		height: 0px;
		padding: 10px;
		margin-left: 5px;
	}
	#home-image {
 		padding-top: 40px;
 	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
	.head-text {
		font-size: 470%;
		margin-top: 25%;
		line-height: 90px;
	}
	.team-text {
		font-size: 270%;
		margin-top: 27%;
		line-height: 70px;
	}
	.about-redirect{
		margin-top:19%;
	}
	.brand-logo {
		max-width: 20%;
		margin-top: 10px;
	}
	#home-image {
 		padding-top: 30px;
 		width: 1000px;
 		height: auto;
 	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/*@media (min-width: 380px) and (max-width: 479px){
	.head-text {
		font-size: 200%;
		margin-top: 18%;
		line-height: 40px;
	}
	.team-text {
		font-size: 100%;
		margin-top: 25%;
		line-height: 20px;
	}
	.about-redirect{
		margin-top:14%;
	}
}

@media (min-width: 480px) and (max-width: 589px){
	.head-text {
		font-size: 230%;
		margin-top: 21%;
		line-height: 50px;
	}
	.team-text {
		font-size: 120%;
		margin-top: 25%;
		line-height: 30px;
	}
	.about-redirect{
		margin-top:15%;
	}
}

@media (min-width: 590px) and (max-width: 797px){
	.head-text {
		font-size: 300%;
		margin-top: 21%;
		line-height: 60px;
	}
	.team-text {
		font-size: 140%;
		margin-top: 25%;
		line-height: 40px;
	}
	.about-redirect{
		margin-top:17%;
	}
	.brand-logo {
		max-width: 20%;
		margin-top: -80px;
	}
}

@media (min-width: 798px) and (max-width: 991px){
	.head-text {
		font-size: 400%;
		margin-top: 21%;
		line-height: 80px;
	}
	.team-text {
		font-size: 220%;
		margin-top: 24%;
		line-height: 50px;
	}
	.about-redirect{
		margin-top:18%;
	}
	.brand-logo {
		max-width: 20%;
		margin-top: 90px;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	.head-text {
		font-size: 470%;
		margin-top: 21%;
		line-height: 90px;
	}
	.team-text {
		font-size: 270%;
		margin-top: 27%;
		line-height: 70px;
	}
	.about-redirect{
		margin-top:19%;
	}
	.brand-logo {
		max-width: 20%;
		margin-top: 90px;
	}
}

@media (min-width: 1200px){
	.head-text {
		font-size: 560%;
		margin-top: 26%;
		line-height: 100px;
	}
	.team-text {
		font-size: 370%;
		margin-top: 21%;
		line-height: 90px;
	}
	.about-redirect{
		margin-top:20%;
	}

	.brand-logo {
		max-width: 20%;
		margin-top: 10px;
	}
}*/

  /***********/
 /* Colours */
/***********/
.midnight-blue{
	color: #2c3e50;	
}
.red{
	color: #D91E18;
}
  /****************/
 /* Social Icons */
/****************/

 .navbar-brand {
 	line-height: 10px;
 }