---
title: Home
heading: 'Awesome Generator!'
lead: Welcome to my blog!
---
<div id="header-wrapper" class="header-slider">
  <header class="clearfix">

  <div class="container">
  
    <div class="row">
      <div class="span12">
        <div class="arrownav aligncenter">
            <i class="icon-circled icon-bgsuccess icon-code icon-4x"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div id="main-flexslider" class="flexslider">
          <ul class="slides">
            <li>
            <p class="home-slide-content">
              <strong>creative</strong> and passion
            </p>
            </li>
            <li>
            <p class="home-slide-content">
              Eat and drink <strong>design</strong>
            </p>
            </li>
            <li>
            <p class="home-slide-content">
              We loves <strong>simplicity</strong>
            </p>
            </li>
          </ul>
        </div>
        <!-- end slider -->
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <div class="arrownav aligncenter">
            <a href="#about"><i class="icon-angle-down icon-white icon-4x"></i></a>
        </div>
      </div>
    </div>
  </div>
  </header>
</div>