---
component: navbar
---
<!-- Fixed navbar -->
<div class="navbar-wrapper">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <!-- Responsive navbar -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </a>
        <!-- logo -->
        <a class="brand" href="index.html"><img src="/img/logo-image.png" alt="" /></a>
        <!-- end logo -->
        <!-- navigation -->
        <nav class="pull-right nav-collapse collapse">
        <ul id="menu-main" class="nav">
          <li><a title="team" href="#about">Who we are</a></li>
          <li><a title="services" href="#services">Services</a></li>
          <li><a title="works" href="#works">Works</a></li>
          <li><a title="contact" href="#contact">Contact</a></li>
        </ul>
        </nav>
      </div>
    </div>
  </div>
</div>