::-moz-selection {
background:#6F9B63;
}
::selection {
background:#6F9B63;
}

.navbar .brand a:hover {
	color:#6F9B63;
}

.arrownav a i:hover {
	color: #6F9B63;
}

span.highlight {
	background: #6F9B63;
}

.spacer.accent,.section.accent {
	background:#6F9B63;
}



ul#menu-main > li > a:hover {
	color: #6F9B63;
}


ul#menu-main > li > a:focus,ul#menu-main > li > a:active, ul#menu-main > li > a.selected, ul#menu-main li a.selected:active    {
	color: #6F9B63;
}
#header-wrapper h1 span {
	color:#6F9B63;
}

#header-wrapper input[type=submit] {
	background: #6F9B63 !important;
}

#theme-form input[type=submit] {
	background: #6F9B63 !important;
}

.btn.btn-theme {
	background: #6F9B63 !important;
}

/* com */
.tabbable ul.nav-tabs li.active a,.tabbable ul.nav-tabs li a:hover {
	color: #6F9B63;
}
.accordion .accordion-heading a.active {
	color: #6F9B63;
}

#tweet ul li a {
	color: #6F9B63;
}


/* works */
	#filter li.selected a, #filter li a:hover{
		background-color:#6F9B63;
		border:1px solid #6F9B63;
	}

	.list_item:hover .portfolio_details{
		background-color:#6F9B63;
	}
	
/* icon */
i.icon-bgdark:hover {
	background: #6F9B63;
}

i.icon-bgdark.active {
	background: #6F9B63;
}