<body>
	<div class="row header">

		<!-- NAV -->

		<nav class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">

					<a class="btn btn-navbar m-btn blue" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>


					<h1 class="brand">
						<a href="index.html">
							<!--   SweetPixel Studios -->
						</a>
					</h1>

					<div class="nav-collapse">
						<ul class="nav pull-right">
							<li><a href="http://www.sweetpixelstudios.com" class="anchorLink">Home</a></li>
							<!-- <li><a href="#about" class="anchorLink">About</a></li> -->
							<!-- <li><a href="#team" class="anchorLink">The Team</a></li> -->
							<!-- <li><a href="#portfolio" class="anchorLink">Portfolio</a></li> -->
							<!-- <li><a href="#contact" class="anchorLink">Contact</a></li> -->
						</ul>
					</div>

				</div>
			</div>
		</nav>
	</div>
	<!-- Start About -->
	<div class="row-fluid section" id="jobs">
		<div class="container"> 

			<div class="explain">
				<h2>JOBS</h2>
				<p class="intro">Looking for work? We would love to talk to you.</p>
				<div class="row-fluid"> 
					<div class="span12">
						<h3 class="centertext">iOS Developer</h3>
						<h4>Job Description</h4>
						<p class="centertext">We’re looking for a talented iOS Developer to help build us an application that transforms how people connect everyday. You should have knowledge building high performance applications on iOS and be able to work full-time. The ideal candidate will bring both passion for and solid execution skills to create iOS applications.</p>
						<h4>Requirements</h4>
						<ul>
							<li>Good knowledge of development for the iOS platform.</li>
							<li>Deep understanding of Objective-C and Cocoa design patterns.</li>
							<li>Knowledge of iOS performance techniques.</li>
							<li>Solid understanding of the full mobile development lifecycle.</li>
							<li>Highly collaborative.</li>
							<li>Passion for working in a fast paced startup environment and want to ship products that are as beautifully built as they are designed.</li>
						</ul>
						<h4>Bonus</h4>
							<li>1+ years of work experience in iOS development.</li>
	<li>Have published one or more iOS apps in the app store.</li>
	<li>Experience working with iOS frameworks such as Core Data, Core Animation etc.</li>
 	<li>Experience working with third-party libraries, Cocoapods.</li>
	<li>Proficient Knowledge of server side technologies such as Rails, Node.js etc.</li>
					</div>


<br />
<br />
      <p class="centertext">
        <a class="btn btn-large actionbtn" href="mailto:jobs@sweetpixelstudios.com">Apply Today</a>

    </p>

</div> 

</div>
</div>
</div>
</body>