body {
  background-color: #E9E29D;
}

@media screen and (min-width : 1224px){
  .robot-icon {
    width: 36%;
  }
  .footer {
    margin-top: -6%;
    margin-left: 28%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .follow-us-link {
    margin-top: 4%;
  }
  .col-md-1 {
    padding-left: 0px; 
    padding-right: 0px;
  }
  .meanwhile-icon {
    width: 49%;
    margin-top: 10%;
  }
}

@media screen and (min-width : 320px){
  .android-link {
    width: 46%;
  }
  .ios-link {
    width: 46%;
  }
  .footer {
    margin-left: 35%;
  }
}

#fbimg {
  background: url('/sweet-pixel-studios-images/Social-Media-Icons.svg');
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background-position: 0px -50px;
}

#fbimg:hover {
  background-position: 0px 0px;
}

#fbimg:active {
  background-position: 0px 0px;
}


#twimg {
  background: url('/sweet-pixel-studios-images/Social-Media-Icons.svg');
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background-position: -50px 50px;
}

#twimg:hover {
  background-position: 100px 100px;
}


#twimg:active {
  background-position: 100px 100px;
}

#gplusimg {
  background: url('/sweet-pixel-studios-images/Social-Media-Icons.svg');
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background-position: -100px -150px;
}

#gplusimg:hover {
  background-position: 200px 200px;
}

#gplusimg:active {
  background-position: 200px 200px;
}
