body{
	font-family: "Open Sans Condensed",Helvetica,Arial,Sans-serif;
	font-size: 14px;
	background-color: #E9E29D;
}

h2, .h2 {
    font-size: 25px;
}

/*#fbimg:hover {
	-webkit-transition: 1s;
	transition: 1s;
}*/

.modal {
    /*! adjust transition time */
    -webkit-transition: all ease-out !important;
    -moz-transition: all 0.5s ease-out !important;
    -o-transition: all 0.5s ease-out !important;
    transition: all 0.5s ease-out !important;
}
.modal.in .modal-dialog {
    /*! editthis transform to any transform you want */
    -webkit-transform: scale(1.0, 1.0) !important;
    -ms-transform: scale(1.0, 1.0) !important;
    transform: scale(1.0, 1.0) !important;
}
.modal.fade .modal-dialog {
    /*! disable sliding from left/right/top/bottom */
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.TeamButton:focus{
    outline: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, 
.col-lg-1, .col-xs-2, .col-sm-2, 
.col-md-2, .col-lg-2, .col-xs-3, 
.col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, 
.col-lg-4, .col-xs-5, .col-sm-5, 
.col-md-5, .col-lg-5, .col-xs-6, 
.col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, 
.col-lg-7, .col-xs-8, .col-sm-8, 
.col-md-8, .col-lg-8, .col-xs-9, 
.col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, 
.col-lg-10, .col-xs-11, .col-sm-11, 
.col-md-11, .col-lg-11, .col-xs-12, 
.col-sm-12, .col-md-12, .col-lg-12 {
position: relative;
min-height: 1px;
padding-right: 0px;
padding-left: 0px;
}

.modal-body {
	font-size: 25px;
}

.close {
	float: right;
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
	color: white;
	/*text-shadow: 0 1px 0 #fff;*/
	filter: alpha(opacity=20);
	opacity: 1;
}

.close:hover {
	color: white;
}

.modal-header {
	border-bottom-width: 0px;
}

.modal-body{
		color: #FFF;
}

.modal-dialog {
	width: 100%;
	height: auto;
	margin: 0px auto;
	/*padding: 0;*/
}

.modal-content {
	height: 100%;
	border-radius: 0px;
	background-color: black;
	opacity: 0.9;
}

  /*****************************/
 /*  Our Team Button Settings */
/*****************************/
.TeamButton {
	height: 58px;
	width: 120px;
	color: #e95c65;
	background: white;
	border-style: solid;
  border-width: 2px;
	border-color: #e95c65;
	border-radius:14px;
	font-size:28px;
	line-height: 1;
}


  /*****************/
 /* Toggle Button */
/*****************/
.btn-primary:hover, .btn-primary:focus,
.btn-primary:active, .btn-primary.active,
.open > .dropdown-toggle.btn-primary {
 color: #fff;
 background-color: #E95C65;
 border-color: #E95C65;
}




  /*****************************/
 /* Form Control Icon Styling */
/*****************************/
.input-group-addon {
	padding: 6px 12px;
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
	color: #E95C65;
	text-align: center;
	background-color: #ecf0f1;
	border: 1px solid #95a5a6;
	border-radius: 4px;
}
  /**************************/
 /* Custom Navbar settings */
/**************************/
.navbar .nav > li > a {
	font:300 25px/40px "Open Sans Condensed",Helvetica,Arial,Sans-serif;
}
.navbar{
	background-color: #ffffff;
	text-transform: uppercase;
}

.navbar .nav > li{
	background-color: transparent;
	border-top: 11px solid transparent;
	color: #333333;
	text-decoration: none;
	transition: opacity 0.15s linear 0s;
}

.navbar .nav > li.active, .navbar .nav > li:hover, .navbar .nav > li.focus{
	background-color: transparent;
	border-top: 11px solid #E95C65;
	color: #333333;
	opacity: 0.90;
	text-decoration: none;
	transition: opacity 0.15s linear 0s;
}

.navbar .nav > li > a{
	background-color: transparent;
	border-top: 11px solid transparent;
	color: #E95C65;
	float: none;
	padding: 10px 15px;
	text-decoration: none;
	text-shadow:0 1px 0 #FFFFFF;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover{
	background-color: transparent;
	border-top: 11px solid transparent;
	color: #333333;
	text-decoration: none;
	transition: opacity 0.15s linear 0s;
}

.navbar-default {
	border-color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
	color: #E95C65;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #777777;
	background-color: transparent;

}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	color: #E95C65;
	text-decoration: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #E95C65;
	background-color: #ffffff;
}

.navbar-default {
	background-color: #ffffff;
	border-color: #e7e7e7;
}

  /*********************/
 /* Custom Mobile Nav */
/*********************/
.navbar-header{
	margin-right: -15px;
	margin-left: -15px;
	height: 0px;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 10px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 0px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 6px;
}

.navbar-brand {
	float: left;
	height: 0px;
	padding: 0px 15px;
	font-size: 18px;
}

	.btn-lg, .btn-group-lg > .btn {
		padding: 3px 7px;
}

  /*******************/
 /* Responsive text */
/*******************/
.head-text {
	font:300 25px/40px "Open Sans Condensed", Helvetica, Arial, Sans-serif;
	position: absolute;
	color: #FFFFFF;
}

.team-text {
	font:300 25px/40px "Open Sans Condensed", Helvetica, Arial, Sans-serif;
	position: absolute;
	color: #FFFFFF;
}
.contact-header {
	font-size: 40px;
	margin-top: 5%;
	margin-bottom: 3%;
}
.address{
	font-size: 20px;
}
@media (max-width: 379px){
	.head-text {
		font-size: 18px;
		margin-top: 60px;
		line-height: 25px;
	}
	.team-text {
		font-size: 13px;
		margin-top: 60px;
		line-height: 20px;
	}
	body {
		padding-top: 50px;
	}
	.TeamButton {
		height: 19px;
		width: 49px;
		font-size: 11px;
		border-style: solid;
		border-width: 1px;
		border-radius: 6px;
	}
	.profile-pic {
		width: 26%;
	}
	.modal-body {
		font-size: 15px;
	}
	.profile-pic-second {
		width: 26%;
	}
	.detail-text {
		width: 65%;
		margin-left: -5%;
	}
	.detail-text-second {
		width: 65%;
		margin-left: -5%;
	}
}
@media (min-width: 380px) and (max-width: 479px){
	.head-text {
		font-size: 21px;
		margin-top: 70px;
		line-height: 25px;
	}
	.team-text {
		font-size: 16px;
		margin-top: 80px;
		line-height: 20px;
	}
	body {
		padding-top: 75px;
	}
	.TeamButton {
		height: 27px;
		width: 70px;
		font-size: 16px;
		border-radius: 8px;
	}
	.close {
		margin-top: -5%;
	}
	.profile-pic {
		width: 25%;
	}
	.modal-body {
		font-size: 17px;
	}
	.detail-text {
		width: 70%;
		margin-left: -5%;
	}
	.profile-pic-second {
		width: 25%;
	}
	.detail-text-second {
		width: 70%;
		margin-left: -5%;
	}
}

@media (min-width: 480px) and (max-width: 589px){
	.head-text {
		font-size: 24px;
		margin-top: 90px;
		line-height: 30px;
	}
	.team-text {
		font-size: 20px;
		margin-top: 100px;
		line-height: 30px;
	}
	body {
		padding-top: 75px;
	}
	.TeamButton {
		height: 27px;
		width: 70px;
		font-size: 16px;
		border-radius: 9px;
	}
	.modal-body {
		font-size: 20px;
	}
	.detail-text {
		width: 63%;
		margin-left: -3%;
	}
	.profile-pic {
		margin-left: 0%;
		width: 25%;
	}
	.profile-pic-second {
		width: 25%;
		margin-left: 0%;
	}
	.close {
		margin-top: -6%;
	}
	.detail-text-second {
		width: 63%;
		margin-left: -3%;
	}
}

@media (min-width: 590px) and (max-width: 797px){
	.head-text {
		width: 40%;
		margin-top: -10%;
		line-height: 40px;
		margin-left: 28%;
	}
	.container {
		width: 780px;
		padding-right: 6%;
	}
	.robot-icon {
		width: 67%;
	}
	.meanwhile-icon {
		margin-top: -64%;
		margin-left: 62%;
		width: 34%;
	}
	.download-link {
		margin-left: 64%;
		width: 43%;
	}
	.list-inline > li {
		display: inline-block;
		padding-right: 0px;
		padding-left: 0px;
		width: 26%;
	}
	.follow-us-icon {
		margin-left: 60%;
		margin-top: 18%;
	}
	.footer {
		margin-left: 80%;
		margin-top: -6%;
	}
	.list-inline > li {
		display: inline-block;
		padding-right: 0px;
		padding-left: 0px;
		width: 30%;
	}
	/*.team-text {
		font-size: 23px;
		margin-top: 130px;
		line-height: 40px;
	}
	.brand-logo {
		max-width: 20%;
		margin-top: -80px;
	}*/
	body {
		padding-top: 80px;
	}
	/*.TeamButton {
		height: 45px;
		width: 100px;
		font-size: 24px;
	}
	.modal-body {
		font-size: 13px;
	}
	.detail-text {
		width: 35%;
		margin-left: -3%;
	}
	.detail-text-second {
		margin-left: -3%;
		width: 35%;
	}
	.close {
		margin-top: -4%;
	}
	.first-row {
		margin-top: 2%;
	}
	.second-row {*/
		/*margin-left: -1%;*/
		/*margin-top: 2%;
	}
	.third-row {
		margin-top: 2%;
	}
	.four-row {*/
		/*margin-left: -1%;*/
		/*margin-top: 2%;
	}*/
}

@media (min-width: 798px) and (max-width: 991px){
	.container {
		width: 970px;
	}
	.head-text {
		width: 44%;
		margin-top: -8%;
		line-height: 60px;
		margin-left: 28%;
	}
	.robot-icon {
		width: 48%;
		margin-top: 4%;
		margin-left: 8%;
	}
	.meanwhile-icon {
		margin-top: -50%;
		margin-left: 58%;
	}
	.list-inline {
		padding-left: 0;
		margin-left: 59%;
		list-style: none;
	}
	.footer {
		margin-top: -5%;
		margin-left: 59%;
	}
	.list-inline > li {
		display: inline-block;
		padding-right: 0px;
		padding-left: 0px;
	}
	.follow-us-icon {
		margin-left: 67%;
	}
	/*.team-text {
		font-size: 33px;
		margin-top: 170px;
		line-height: 50px;
	}
	.brand-logo {
		max-width: 20%;
		margin-top: 90px;
	}*/
	body {
		padding-top: 80px;
	}
	/*.TeamButton {
		height: 48px;
		width: 110px;
	}
	.modal-body {
		font-size: 17px;
	}
	.detail-text {
		margin-left: -1%;
	}
	.detail-text-second {
		width: 33%;
	}
	.profile-pic-second {
		margin-left: -1%;
	}*/
	/*.close {*/
		/*margin-top: -3%;*/
		/*font-size: 24px;
	}
	.first-row {
		margin-top: 2%;
	}
	.second-row {*/
		/*margin-left: -1%;*/
		/*margin-top: 2%;
	}
	.third-row {
		margin-top: 2%;
	}
	.four-row {*/
		/*margin-left: -1%;*/
	/*	margin-top: 2%;
	}*/
}

@media (min-width: 992px) and (max-width: 1199px){
	.head-text {
		font-size: 58px;
		margin-top: -7%;
		line-height: 80px;
		margin-left: 25%;
	}
	.robot-icon {
		width: 41%;
		margin-top: 4%;
		margin-left: 8%;
	}
	.meanwhile-icon {
		margin-top: -47%;
		margin-left: 60%;
	}
	.download-link {
		margin-left: 61%;
	}
	.follow-us-icon {
		margin-top: -2%;
		margin-left: 79%;
	}
	.container {
		width: 1120px;
	}
	.follow-us-icon {
		margin-top: 0%;
		margin-left: 70%;
	}
	.list-inline > li {
		display: inline-block;
		padding-right: 0px;
		padding-left: 0px;
	}
	.footer {
		margin-top: -4.8%;
		margin-left: 83%;
	}
	/*.team-text {
		font-size: 43px;
		margin-top: 220px;
		line-height: 70px;
	}
	.brand-logo {
		max-width: 20%;
		margin-top: 90px;
	}*/

	body {
		padding-top: 80px;
	}
	/*.modal-body {
		font-size: 20px;
	}
	.detail-text-second {
		width: 30%;
	}
	.second-row {
		/*margin-left: -1%;*/
		/*margin-top: 0.5%;
	}
	.third-row {
		margin-top: 0.5%;
	}
	.four-row {
		/*margin-left: -1%;*/
	/*	margin-top: 0.5%;
	}*/
}

@media (min-width: 1200px){
	.head-text {
		padding-left: 27%;
		font-size: 68px;
		margin-top: 0%;
		line-height: 90px;
	}
	.team-text {
		font-size: 50px;
		margin-top: 270px;
		line-height: 80px;
	}
	.brand-logo {
		max-width: 20%;
		margin-top: 5px;
	}
	body {
		padding-top: 0px;
	}
	.container {
		width: 1300px;
	}
	.robot-icon {
		margin-left: 9%;
		padding-top: 9%;
		width: 37%;
	}
	.meanwhile-icon {
		margin-top: -39%;
		margin-left: 58%;
	}
	.ios-store-icon {
		margin-left: 73%
	}
	.android-store-icon {
		margin-top: -12.8%;
		margin-left: 58.2%;
	}
	.facebook-icon {
		padding-left: 96%;
		margin-top: 4.1%;
	}
	.download-link {
		padding-left: 50%;
	}
	ul, ol {
		margin-top: 0.6%;
		margin-bottom: 0px;
	}
	.list-inline > li {
		display: inline-block;
		padding-right: 0px;
		padding-left: 0px;
	}
	.list-inline {
		padding-left: 0;
		margin-left: 18%;
		list-style: none;
	}
	.footer {
		margin-top: -4.4%;
		margin-left: 85%;
	}
	.follow-us-icon {
		margin-left: 76%;
		margin-top: 4%;
	}
	/*.detail-text {
		width: 31%;
		margin-left: -5%;
	}
	.profile-pic {
		margin-left: 8%;
	}
	.detail-text-second {
		margin-left: -5%;
	}
	.second-row {
		margin-left: -1%;
		margin-top: 0.5%;
	}
	.third-row {
		margin-top: 0.5%;
	}
	.modal-header .close {
		margin-top: -2px;
		margin-right: 1%;
	}
	.four-row {
		margin-left: -1%;
		margin-top: 0.5%;
	}
	button.close {
		margin-right: 5px;
	}*/
}

.modal-header {
	padding: 1px;
}


  /***********/
 /* Colours */
/***********/
.midnight-blue{
	color: #2c3e50;
}
.red{
	color: #E95C65;
}
  /***************************/
 /* Brand logo custmization */
/***************************/
@media (max-width: 380px) {
	.brand-logo {
		max-width: 30%;
		margin-top: -30px;
	}
}

@media (max-width: 590px) and (min-width: 380px) {
	.brand-logo {
		max-width: 25%;
		margin-top: -30px;
	}
}
@media (max-width: 797px) and (min-width: 768px){
	.brand-logo {
		max-width: 20%;
		margin-top: 30px;
	}
}
@media (max-width: 767px) and (min-width: 590px){
	.brand-logo {
	max-width: 20%;
	margin-top: -35px;
	}
}
@media (max-width: 991px) and (min-width: 798px){
	.brand-logo {
	max-width: 25%;
	margin-top: 20px;
	}
}
@media (max-width: 1199px) and (min-width: 992px){
	.brand-logo {
	max-width: 23%;
	margin-top: 20px;
	}
}
@media (min-width: 1200px){
	.brand-logo {
	max-width: 23%;
	margin-top: 20px;
	}
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 1px solid #e74c3c;
  opacity: 0.5;
}
