/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* Markup bootstrap */
body {
    width: 100%;
    font-family: Tahoma, Helvetica;
    color: #1A1E1C;
    line-height: 1.3;
    overflow-x: hidden;
    background-color: #f2f2f2;
}

h2, h3 {
    color: #1A1E1C;
}

h1 {
    font-size: 23px;
    margin-bottom: 18px;
    font-weight: normal;
}

h2 {
    font-size: 23px;
    margin-bottom: 18px;
    font-weight: normal;
}

h3 {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    display: inline;
}

h4 {
    color: #2F2F2F;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

/* Header */
header {
    background-color: #1a1e1c;
    min-height: 359px;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


nav {
    background-image: -moz-linear-gradient(center top , rgb(51, 51, 51), rgb(34, 34, 34));
    background-repeat: repeat-x;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(0, 0, 0, 0.1) inset;
    background-color: rgb(44, 44, 44);
    border-bottom: 1px solid rgb(255, 255, 255);
}

.container:after {
    clear: both;
}
.container:before, .container:after {
    content: "";
    display: table;
}
.container:before, .container:after {
    content: "";
    display: table;
}
.navbar .container {
    width: auto;
}
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1170px;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 940px;
}


#totem {
    background: url("/assets/s2.png") bottom no-repeat;
    padding: 0px 0 17px;
}

/*#totem a {
    background: url("/assets/sweetpixlttwfb.png") no-repeat;
    display: block;
    height: 300px;
    width: 300px;
    margin: 0 auto;

}*/

/* Navigation */

.navbar {
    min-height: 40px;
}

#nav-bottom {
    padding-top: 10px;
}

#nav-bottom li {
    display: inline-block;
}

#nav-bottom li a {
    color: #fff;
}

#nav-bottom li a:hover {
    color: #999;
    text-decoration: none;
}

nav {
    background-image: -moz-linear-gradient(top, #333333, #222222);
    background-image: -ms-linear-gradient(top, #333333, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    background-image: -o-linear-gradient(top, #333333, #222222);
    background-image: linear-gradient(top, #333333, #222222);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#333333', endColorstr = '#222222', GradientType = 0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    background-color: #2C2C2C;
    border-bottom: 1px solid #fff;
}

.main-navigation {
    color: #fff;
    list-style: none;
    margin: 0;
}

.main-navigation li {
    display: inline-block;
    margin-right: 2px;
    line-height: 25px;
}

footer {
    background-color: #1A1E1C;
    height: 43px;
    border-top: 1px solid #ffffff;
}


@media (max-width: 767px) {
    .project-pic {
        width: 100%;
        top: 0;
    }

    #pagelist {
        padding: 40px 0;
    }

    #pagelist li {
        width: 100%;
        float: none;
        margin: 0;
    }

    .row {
        padding: 0 15px;
    }

    .visible-desktop img {
        display: none;
    }

    .visible-desktop {
        height: 60px;
    }

    .sort-by {
        float: left;
        margin-left: 30px;
    }

    .sort-by-list {
        display: none;
    }

    #logos {
        display: none;
    }

    #nav-bottom li {
        display: inline-block;
        margin-right: 5px;
    }

    .pr {
        margin-bottom: 0;
        text-align: left;
    }

    .pr.row > [class*="span"], .row-fluid > [class*="span"] {
        margin: 0 0 40px 0;
    }

    .products-list .pr.row .span3 {
        margin: 0;
    }

    .vacancy h2.offset1 {
        margin: 0;
    }

    .row > [class*="span6"].go {
        margin-top: 10px;
        margin-bottom: 50px;
    }

    header {
        display: none;
    }

    .small-logo {
        display: block;
        width: 78px;
        height: 38px;
        background: url(../images/small-logo.png);
        float: left;
        margin: 5px 15px 0 0;

    }

    .navbar .nav-collapse {

    }

    .navbar .nav {
        margin-top: 10px;

    }

    .navbar .nav.pull-right.language {

    }

    .contacts .span3 {
        margin: 0 0 20px 0;
    }
}

@media (max-width: 1199px) {
    .project-pic {
        width: 95%;
    }

    #pagelist li {
        width: 100%;
        float: none;
        margin: 0;
    }

    .sort-by {
        margin-right: -30px;
    }

    .sort-by-list {
        margin-left: 550px;
    }

    #nav-bottom li {
        display: inline-block;
        margin-right: 20px;
    }
}

@media (max-width: 978px) {
    .sort-by-list {
        margin-left: 350px;
    }

    #logos {
        display: none;
    }

    #nav-bottom li {
        display: inline-block;
        margin-right: 15px;
    }
}

@media (min-width: 1200px) {
    .project-pic {
        width: 110%;
    }

    .sort-by-list {
        margin-left: 730px;
    }

    .table-offset {
        margin-left: -30px;
    }

    #nav-bottom li {
        display: inline-block;
        margin-right: 20px;
    }

    .products-list .span3 {
        margin-right: 30px;
    }

    .products-list .details {
        margin: 15px 0 0 0;
    }
}

#logos {
    width: 100%;
    margin-top: 50px;
}

#logos td {
    text-align: center;
}

#logos a {
    display: block;
    height: 60px;
    margin: 0 auto;
}

#terra-logo {
    width: 80px;
    height: 60px;
    background: url(../images/contacts/1.terragroup_logo_gray.html);
}

#star-logo {
    width: 130px;
    height: 60px;
    background: url(../images/contacts/2.starnet_logo_gray.html);
}

#pw-logo {
    width: 177px;
    height: 60px;
    background: url(../images/contacts/3.powerteam_logo_gray.html);
}

#das-logo {
    width: 90px;
    height: 60px;
    background: url(../images/contacts/4.das_logo_gray.html);
}

#moldcell-logo {
    width: 241px;
    height: 60px;
    background: url(../images/contacts/5.moldcell_logo_gray.html);
}

#terra-logo:hover {
    background: url(../images/contacts/1.terragroup_logo.html);
}

#star-logo:hover {

    background: url(../images/contacts/2.starnet_logo.html);
}

#pw-logo:hover {

    background: url(../images/contacts/3.powerteam_logo.html);
}

#das-logo:hover {

    background: url(../images/contacts/4.das_logo.html);
}

#moldcell-logo:hover {
    background: url(../images/contacts/5.moldcell_logo.html);
}

.small {
    font-size: 10px;
    margin-bottom: 10px;
    color: #666;
}

.marginb {
    margin-bottom: 20px;
}

.black-bg {
    display: block;
    float: left;
    background: #000;
    color: #FFF;
    margin-bottom: 6px;
    padding: 5px;
}

.block-icon {
    float: left;
    margin: 0 5px 0 0;
}

/* Version 2.0 */

.posts,
.products {
    margin-top: 30px;
}

.page {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
}

#filter {
    margin-bottom: 30px;
    float: left;
}

.pagination-wp {
    margin-top: 30px;
    margin-bottom: 30px;
}

.services {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: left;
}

.services img {
    max-width: 270px;
    width: 98%;
}

.totem {
    margin-top: 60px;
    margin-left: -60px;
}

.pre-vacancy {
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #1A1E1C;
    left: 0;
    top: 635px;
}

.contacts {
    margin-top: 90px;
    margin-bottom: 30px;
    text-align: left;
}

.contacts h2 {
    margin: 0;
}

.contacts .offset1 h1 {
    margin: 0 0 18px 0;
}

.vacancy h1 {
    font-size: 14px
}

.go {
    margin-top: 100px;
    margin-bottom: 100px;
}

.vacancy dt {
    float: left;
}

.vacancy dd {
    clear: both;
    display: block;
    margin-bottom: 15px;
}

.details {
    color: #575757;
    font-size: 12px;
    margin-left: 10px;
}

.details h4 {
    color: #2F2F2F;
    display: block;
    margin-bottom: 10px;

}

.gray {
    color: #575757;
}

.gray h3 {
    color: #575757;
}

.block-wrapper {
    margin: 15px;
}

.block.list strong {
    color: #5c5c5c;
    margin: 0 10px 0 0;
    float: left;
    height: 100px;
}

.block.list li {
    color: #575757;
    border-bottom: 2px solid #E9E9E9;
    padding-bottom: 12px;
    margin-bottom: 12px;
    clear: both;
}

.block.list ul {
    padding: 0;
    margin: 0;
}

.block.list li.last {
    border: 0;
}

.block.list {
    padding: 12px;
}

.block.list .time {
    display: block;
    margin: 5px 0 0 0;
    font-size: 11px;
}

.popular {
    margin: 0;
}

.block a, .grayscale a {
    color: #2D6C6B;
}

.popular li {
    border-bottom: 2px solid #E9E9E9;
    padding-bottom: 12px;
    margin-bottom: 12px;
}

.popular li.last {
    border: 0;
    margin: 0;
    padding: 0;
}

.large-title {
    margin: 21px 0 0 0;
}

#large-title {
    position: absolute;
    display: block;
}

.large-title {
    position: relative;
}

.large-title span {
    display: block;
    background: url(../images/new/title.png) no-repeat left;
    height: 55px;
    position: relative;
    left: -27px;
    top: -35px;

}

.large-title i {
    display: block;
    color: #FDFDFD;
    font-size: 22px;
    padding: 10px 20px 10px 10px;
    background: url(../images/new/title-png.png) no-repeat top right;
    height: 55px;
    margin-left: 12px;
    font-style: normal;
}

.block-wrapper img {
    width: 100%;
}

.posts .date {
    color: #919191;
    font-weight: bold;
    padding: 0 0 0 25px;
    height: 19px;
    margin: 5px 0 5px 0;
    float: left;
    background: url(../images/new/watch.png) 0 50% no-repeat;
}

.posts .details {
    margin: 0 0 40px 0;
}

.clear {
    clear: both;
}

.posts a {
    text-decoration: none;
}

#area {
    clear: both;
}

#pagelist ul {
    margin: 0;
}

#pagelist .img-border {
    border: 1px solid #CACACA;
    padding: 7px 7px 7px 7px;
    margin: 0;
}

#pagelist h2.title:hover, #notefirst h2.title:hover {
    text-decoration: underline;
}

#pagelist h2.title, #notefirst h2.title {
    color: #2F2F2F;
}

h2.title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
    line-height: 22px;
}

#pagelist li.second {
    margin: 0;
}

#pagelist .date {
    margin: 0 0 5px 0;
}

#pagelist h2 {
    margin: 10px 0;
}

.post .details ul {
    list-style: disc;

}

.post .details p {
    line-height: 19px;
}

.post {
    margin-bottom: 30px;
}

#social {
    margin: 20px 0;
}

#social li {
    float: left;
}

#socialc {
    margin: 0;
    float: right;
}

#socialc li {
    float: left;
}

.comments .block {
    padding: 10px;
    margin: 0 0 20px 0;
}

/* slider */
#myCarousel {
    height: 254px;
    max-width: 548px;

}

#myCarousel img {
    height: 254px;

}

@media (max-width: 1200px) {
    #myCarousel {
        height: 185px;
        max-width: 400px;
        float: right;
    }

    #myCarousel img {
        height: 185px;

    }

    #slogan {
        display: none;
    }

    #slogan {
    color: #CCCCCC;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 22px;
    text-align: justify;
    text-shadow: 1px 1px 1px #000000;
}

p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 9px;
}

    header {
        min-height: 200px;
    }

    #totem {
        height: 220px;

    }

    #totem a {
        position: relative;
        top: 40px;
    }
}

@media (max-width: 1000px) {
    #myCarousel {
        height: 139px;
        max-width: 300px;
        float: right;
    }

    #myCarousel img {
        height: 139px;

    }

    #totem a {
        position: relative;
        top: 20px;
    }

    header {
        min-height: 150px;
    }

    #totem {
        height: 150px;

    }

    .logo {
        background: url(../images/s11.png) right no-repeat;
    }
}

.left, .right {
    top: 50%;
    border-radius: 5px;
}

.products-list {

}

.form-horizontal {
    margin: 40px 0 0 0;
}

.form-horizontal legend {
    border: 0;
}

.form-horizontal .control-label {
    text-align: right;
}

.form-horizontal .input-xlarge {
    width: 70%;
}

.form-horizontal .form-actions {
    background: none;
    border: none;
    margin-top: 0;
}

.pagination .first, .pagination .last {
    display: none;
}

.pagination a {
    background: #fff;
}

.error-page {
    margin: 60px 0;
}

.login {
    margin-top: 50px;
}

#LoginForm_rememberMe {
    float: left;
    margin: 2px 6px 0 0;
}

.product-image {
    float: left;
    width: 100%;
}

.product-image .thumbnails {
    margin-bottom: 0;
}

.product-image li {
    width: 95.5%;
    float: left;

}

.previews .thumbnails a {
    cursor: default;
}

.previews .thumbnails > li.nosize {
    margin-left: 10px;
}

.previews .thumbnails > li.active .thumbnail {
    border: 1px solid #a4a4a4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.product-details {
    margin-top: 30px;
    margin-bottom: 30px;
}

.block a.visit {
    margin: 10px 0 10px 0;
    color: #333;
}

.filter_2 a {
    display: block;
}

.mmenu {
    padding: 15px 15px 15px 15px;
}

.mmenu .nav-list > .active > a {
    color: #2D6C6B;
    background: none;
}

.mmenu .nav-list > .active > a:hover {
    text-decoration: none;
    background-color: #EEE;
}

.cursor-default {
    cursor: default;
    text-decoration: none;
}

.block a.cursor-default:hover {
    text-decoration: none;
}

.large-title i {
    min-width: 380px;
}

.block-row {
    margin: 0 0 20px 0;
}

.fb-like-box {
    background: #fff;
}

.fb {
    margin: 20px 0 20px 0;
    position: relative;
    z-index: 1;
}

.google {
    margin: 0 0 20px 0;
}

.large-title i {
    position: relative;
    z-index: 99;
}

.fb, .google {
    overflow: hidden;
    min-width: 186px;
    border: 1px solid #cacaca;
}

.google {
    background: #fff;
}

@media (max-width: 1000px) {
    .fb iframe {
        width: 182px !important;
    }

}

.textt li {
    list-style: disc;
}

.bestapps {
    padding: 10px 10px 0 10px;
}

.bestapps p {
    margin-top: 10px;
}

.bestapps img {
    border: 1px solid #99bfc7;
    box-shadow: 2px 2px 2px #d1d1d1;
}

.captcha-image {
    width: 300px;
}

.captcha-image a {
    margin-bottom: 10px;
    display: block;
}

.hint, .help-block {
    font-size: 11px;
    color: gray;
}

.hint {
    margin-top: 7px;
}

#contact-form .help-inline {
    display: block;
    margin: 10px 0;
    padding: 0;
}

.flash-success {
    height: 381px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #575757;
    font-size: 13px;
    line-height: 18px;
}

.block.list.cs h2 {
    font-size: 16px;
    margin: 0;
}

.block.list.cs strong {
    width: auto;
    height: auto;
}

.block.list.cs li.last {
    margin: 0;
    padding: 0;
}

/* new service */
.service-grid li {
    width: 31%;
    float: left;
    margin-right: 10px;
    margin-bottom: 25px;
    min-width: 300px;
}

.new-services {
    margin: 40px 0 40px 0;
}

.our-clients li {
    float: left;
    border: 1px solid #E5E5E5;
    margin: -1px 0 0 -1px;
}

.new-services h2 {
    display: block;
    border-bottom: 1px solid #c2c2c2;
    padding: 0 0 10px 0;
    margin: 20px 0 20px 0;
    font-size: 16px;
    line-height: 30px;
    color: #444;
    font-weight: bold;
}

.new-services ul {
    padding: 0;
    margin: 0;
}

.feature-circle.blue {
    background: #2D6C6B;
}

.feature-circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    padding: 6px;
    color: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float: left;
    margin-top: 10px;
}

.feature-circle.gray {
    background: #555;
}

.feature-description {
    margin-left: 45px;
    line-height: 20px;
}

.feature-description h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: 34px;
    text-transform: capitalize;
}

.feature {
    background-image: linear-gradient(bottom, #FAFAFA 0%, white 100%);
    background-image: -o-linear-gradient(bottom, #FAFAFA 0%, white 100%);
    background-image: -moz-linear-gradient(bottom, #FAFAFA 0%, white 100%);
    background-image: -webkit-linear-gradient(bottom, #FAFAFA 0%, white 100%);
    background-image: -ms-linear-gradient(bottom, #FAFAFA 0%, white 100%);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    padding: 18px 25px;
    margin: 20px 0 5px 0;
}

.feature h3 {
    line-height: 24px;
    font-size: 16px;
    color: #444;
    font-weight: bold;
    display: block;
}

.button {
    display: inline-block;
    font-weight: bold;
    font-family: Arial, sans-serif;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 5px 5px 0;
    *float: left;
    -webkit-box-shadow: inset 1px 0px 0px rgba(255, 255, 255, .3);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, .3);
}

.button:active {
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
}

.button.medium i {
    float: left;
    margin: 2px 5px 0px -5px;
}

.button.small i {
    float: left;
    margin: 1px 5px 0px -3px;
}

.button.medium {
    padding: 7px 14px;
    font-size: 14px;
}

.button.small {
    padding: 6px 12px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    line-height: 16px;
}

.button:hover {
    text-decoration: none;
}

.button.yellow, input[type="button"] {
    border: 1px solid #e6bd4c;
    background-image: linear-gradient(bottom, #FCCC73 0%, #FAE198 100%);
    background-image: -o-linear-gradient(bottom, #FCCC73 0%, #FAE198 100%);
    background-image: -moz-linear-gradient(bottom, #FCCC73 0%, #FAE198 100%);
    background-image: -webkit-linear-gradient(bottom, #FCCC73 0%, #FAE198 100%);
    background-image: -ms-linear-gradient(bottom, #FCCC73 0%, #FAE198 100%);
    background-color: #FCCC73;
    color: #754c00;
    text-shadow: 1px 1px 0px #ffebb7;
    filter: dropshadow(color = #ffebb7, offx = 1, offy = 1);
}

.button.yellow:hover, input[type="button"]:hover {
    background: #fbd684;
}

.button.medium {
    padding: 7px 14px;
    font-size: 14px;
}

.check_list li {
    background: url(../images/list_check.png) no-repeat 0% 50%;
    padding: 0 0 0 18px;
    line-height: 18px;
    margin: 5px 0;
}

.info-content {
    float: left;
}

.info-box {
    margin: 15px 0 0 0;
}


.google-plus{
    margin: 0 0 0 20px;
}